@import "tailwindcss";


@tailwind utilities;

@layer utilities {
  .bg-primary {
    background-color: #FFA500; /* Primaria */
  }
  .text-primary {
    color: #FFA500;
  }
  .border-primary {
    border-color: #FFA500;
  }
  .bg-primary-hover {
    background-color: #FFA500; /* Primaria */
  }
  .bg-primary-hover:hover {
    background-color: #c58000;
  }

  .text-sidebar-hover {
  color: #374151; /* text-gray-700 do Tailwind */
  }
  .text-sidebar-hover:hover {
    color: #c58000;
  }
  .bg-secondary {
    background-color: #88F28D; /* Secundaria */
  }
  .text-secondary {
    color: #88F28D;
  }

  .bg-aux-1 {
    background-color: #41b5eba0; /* Auxiliar 1 */
  }
  .text-aux-1 {
    color: #89CFF0;
  }

  .bg-aux-2 {
    background-color: #F9F9F9; /* Auxiliar 2 */
  }
  .bg-aux-2-translucid {
    background-color: #F9F9F990; /* Auxiliar 2 */
  }
  .text-aux-2 {
    color: #F9F9F9;
  }
  .text-aux-3{
    color: #d1c8c8e7
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

